[package]
name = "notan_macro"
version = "0.7.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2021"
readme = "README.md"
homepage = "https://github.com/Nazariglez/notan"
repository = "https://github.com/Nazariglez/notan"
license = "MIT OR Apache-2.0"
description = "Provides a set of utils as macros for Notan"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
syn = { version = "1.0.99", features = ["full", "extra-traits"] }
quote = "1.0.21"
num = "0.4.0"
glsl-to-spirv = "0.1.7"
proc-macro2 = "1.0.43"
spirv_cross = { version = "0.23.1", features = ["glsl"] }

[lib]
proc-macro = true
