[package]
name = "notan"
version = "0.1.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
lto = true

[dependencies]
notan_app = { path = "crates/notan_app" }
notan_macro = { path = "crates/notan_macro" }
notan_math = { path = "crates/notan_math" }
notan_graphics = { path = "crates/notan_graphics" }
notan_utils = { path = "crates/notan_utils" }
notan_log = { path = "crates/notan_log", optional = true }
notan_gly = { path = "crates/notan_gly", optional = true }
notan_draw = { path = "crates/notan_draw", optional = true }
notan_backend = { path = "crates/notan_backend", optional = true }
notan_egui = { path = "crates/notan_egui", optional = true }
notan_text = { path = "crates/notan_text", optional = true }

[workspace]
members = ["crates/*"]

[features]
default = ["default_backend", "log", "draw", "gly"]
log = ["notan_log"]
default_backend = ["notan_backend"]
gly = ["notan_gly"]
draw = ["notan_draw"]
egui = ["notan_egui"]
text = ["notan_text"]
custom-backend = []

[dev-dependencies]
wasm-bindgen = "0.2.79"
js-sys = "0.3"

[[example]]
name = "assets_custom_loader"
required-features = ["draw"]

[[example]]
name = "assets_list"
required-features = ["draw"]

[[example]]
name = "assets_load_texture"
required-features = ["draw"]

[[example]]
name = "assets_try_unwrap"
required-features = ["draw"]

[[example]]
name = "draw_animation_grid"
required-features = ["draw"]

[[example]]
name = "draw_animation_list"
required-features = ["draw"]

[[example]]
name = "draw_atlas"
required-features = ["draw"]

[[example]]
name = "draw_blend_mode"
required-features = ["draw"]

[[example]]
name = "draw_blend_mode_object"
required-features = ["draw"]

[[example]]
name = "draw_bunnymark"
required-features = ["draw"]

[[example]]
name = "draw_image"
required-features = ["draw"]

[[example]]
name = "draw_image_crop"
required-features = ["draw"]

[[example]]
name = "draw_mask"
required-features = ["draw"]

[[example]]
name = "draw_mask_texture"
required-features = ["draw"]

[[example]]
name = "draw_nine_slice"
required-features = ["draw"]

[[example]]
name = "draw_path"
required-features = ["draw"]

[[example]]
name = "draw_path_flower"
required-features = ["draw"]

[[example]]
name = "draw_pattern"
required-features = ["draw"]

[[example]]
name = "draw_rect"
required-features = ["draw"]

[[example]]
name = "draw_shader"
required-features = ["draw"]

[[example]]
name = "draw_shapes"
required-features = ["draw"]

[[example]]
name = "draw_text"
required-features = ["draw"]

[[example]]
name = "draw_transform"
required-features = ["draw"]

[[example]]
name = "draw_transform_local"
required-features = ["draw"]

[[example]]
name = "draw_transform_stack"
required-features = ["draw"]

[[example]]
name = "draw_triangle"
required-features = ["draw"]

[[example]]
name = "egui_basic"
required-features = ["egui"]

[[example]]
name = "egui_render_texture"
required-features = ["egui"]

[[example]]
name = "egui_shape_widget"
required-features = ["draw", "egui"]

[[example]]
name = "egui_texture"
required-features = ["egui"]

[[example]]
name = "game_of_life"
required-features = ["draw"]

[[example]]
name = "graphics_update_texture"
required-features = ["draw"]

[[example]]
name = "input_keyboard"
required-features = ["draw"]

[[example]]
name = "input_keyboard_char"
required-features = ["draw"]

[[example]]
name = "input_mouse"
required-features = ["draw"]

[[example]]
name = "input_mouse_events"
required-features = ["draw"]

[[example]]
name = "input_mouse_local_position"
required-features = ["draw"]

[[example]]
name = "input_mouse_wheel"
required-features = ["draw"]

[[example]]
name = "log_basic"
required-features = ["log"]

[[example]]
name = "renderer_font"
required-features = ["glyphs"]

[[example]]
name = "window_fullscreen"
required-features = ["draw"]