[package]
name = "notan"
version = "0.2.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2021"
categories = ["graphics", "rendering", "wasm", "gui", "multimedia"]
keywords = ["notan", "engine", "gamedev", "gui", "windowing"]
exclude = ["docs/**/*", "scripts/**/*", "crates/**/*"]
readme = "README.md"
homepage = "https://github.com/Nazariglez/notan"
repository = "https://github.com/Nazariglez/notan"
license = "MIT OR Apache-2.0"
description = "A simple portable multimedia layer to create apps or games easily"

[package.metadata.docs.rs]
all-features = true

[profile.release]
lto = true

[dependencies]
notan_app = { path = "crates/notan_app", version = "0.2.0" }
notan_macro = { path = "crates/notan_macro", version = "0.2.0" }
notan_math = { path = "crates/notan_math", version = "0.2.0" }
notan_graphics = { path = "crates/notan_graphics", version = "0.2.0" }
notan_utils = { path = "crates/notan_utils", version = "0.2.0" }
notan_log = { path = "crates/notan_log", version = "0.2.0", optional = true }
notan_glyph = { path = "crates/notan_glyph", version = "0.2.0", optional = true }
notan_draw = { path = "crates/notan_draw", version = "0.2.0", optional = true }
notan_backend = { path = "crates/notan_backend", version = "0.2.0", optional = true }
notan_egui = { path = "crates/notan_egui", version = "0.2.0", optional = true }
notan_text = { path = "crates/notan_text", version = "0.2.0", optional = true }

[workspace]
members = ["crates/*"]

[features]
default = ["default_backend", "log", "draw"]
log = ["notan_log"]
default_backend = ["notan_backend"]
glyph = ["notan_glyph"]
draw = ["notan_draw"]
egui = ["notan_egui"]
text = ["notan_text"]
links = ["notan_app/links", "notan_backend/links", "notan_egui/links"]
drop_files = ["notan_app/drop_files", "notan_backend/drop_files", "notan_egui/drop_files"]
clipboard = ["notan_app/clipboard", "notan_backend/clipboard", "notan_egui/clipboard"]

[dev-dependencies]
egui_demo_lib = "0.17.0"

[[example]]
name = "app_drop_file"
required-features = ["draw", "drop_files"]

[[example]]
name = "app_open_links"
required-features = ["links"]

[[example]]
name = "assets_custom_loader"
required-features = ["draw"]

[[example]]
name = "assets_list"
required-features = ["draw"]

[[example]]
name = "assets_load_texture"
required-features = ["draw"]

[[example]]
name = "assets_try_unwrap"
required-features = ["draw"]

[[example]]
name = "draw_animation_grid"
required-features = ["draw"]

[[example]]
name = "draw_animation_list"
required-features = ["draw"]

[[example]]
name = "draw_atlas"
required-features = ["draw"]

[[example]]
name = "draw_blend_mode"
required-features = ["draw"]

[[example]]
name = "draw_blend_mode_object"
required-features = ["draw"]

[[example]]
name = "draw_bunnymark"
required-features = ["draw"]

[[example]]
name = "draw_image"
required-features = ["draw"]

[[example]]
name = "draw_image_crop"
required-features = ["draw"]

[[example]]
name = "draw_mask"
required-features = ["draw"]

[[example]]
name = "draw_mask_texture"
required-features = ["draw"]

[[example]]
name = "draw_nine_slice"
required-features = ["draw"]

[[example]]
name = "draw_path"
required-features = ["draw"]

[[example]]
name = "draw_path_flower"
required-features = ["draw"]

[[example]]
name = "draw_pattern"
required-features = ["draw"]

[[example]]
name = "draw_rect"
required-features = ["draw"]

[[example]]
name = "draw_shader"
required-features = ["draw"]

[[example]]
name = "draw_shapes"
required-features = ["draw"]

[[example]]
name = "draw_text"
required-features = ["draw"]

[[example]]
name = "draw_transform"
required-features = ["draw"]

[[example]]
name = "draw_transform_local"
required-features = ["draw"]

[[example]]
name = "draw_transform_stack"
required-features = ["draw"]

[[example]]
name = "draw_triangle"
required-features = ["draw"]

[[example]]
name = "egui_basic"
required-features = ["egui"]

[[example]]
name = "egui_demo"
required-features = ["egui", "links"]

[[example]]
name = "egui_render_texture"
required-features = ["egui"]

[[example]]
name = "egui_shape_widget"
required-features = ["draw", "egui"]

[[example]]
name = "egui_texture"
required-features = ["egui"]

[[example]]
name = "game_of_life"
required-features = ["draw"]

[[example]]
name = "game_pong"
required-features = ["draw"]

[[example]]
name = "game_snake"
required-features = ["draw"]

[[example]]
name = "game_tetris"
required-features = ["draw"]

[[example]]
name = "glyph_hello_raw"
required-features = ["glyph"]

[[example]]
name = "graphics_update_texture"
required-features = ["draw"]

[[example]]
name = "input_keyboard"
required-features = ["draw"]

[[example]]
name = "input_keyboard_char"
required-features = ["draw"]

[[example]]
name = "input_mouse"
required-features = ["draw"]

[[example]]
name = "input_mouse_events"
required-features = ["draw"]

[[example]]
name = "input_mouse_local_position"
required-features = ["draw"]

[[example]]
name = "input_mouse_wheel"
required-features = ["draw"]

[[example]]
name = "log_basic"
required-features = ["log"]

[[example]]
name = "text_hello"
required-features = ["text"]

[[example]]
name = "window_fullscreen"
required-features = ["draw"]
