[package]
name = "notan_web"
version = "0.4.1"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2021"
readme = "README.md"
homepage = "https://github.com/Nazariglez/notan"
repository = "https://github.com/Nazariglez/notan"
license = "MIT OR Apache-2.0"
description = "Provides a web/wasm32 backend for Notan"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
notan_core = { path = "../notan_core", version = "0.4.1" }
notan_app = { path = "../notan_app", version = "0.4.1" }
wasm-bindgen = "0.2.80"
js-sys = "0.3"
wasm-bindgen-futures = "0.4"
console_error_panic_hook = "0.1"
notan_glow = { path = "../notan_glow", version = "0.4.1" }
notan_graphics = { path = "../notan_graphics", version = "0.4.1" }
futures-util = "0.3"
notan_audio = { path = "../notan_audio", version = "0.4.1", optional = true }
notan_oddio = { path = "../notan_oddio", version = "0.4.1", optional = true }

[dependencies.web-sys]
version = "0.3"
features= [
    "Document",
    "Window",
    "Element",
    "HtmlElement",
    "Node",
    "DomRect",
    "DomRectReadOnly",
    "HtmlCanvasElement",
    "XmlHttpRequest",
    "XmlHttpRequestEventTarget",
    "XmlHttpRequestResponseType",
    "Event",
    "EventListener",
    "EventTarget",
    "MouseEvent",
    "WheelEvent",
    "KeyboardEvent",
    "PointerEvent",
    "CssStyleDeclaration",

    "Clipboard",
    "ClipboardEvent"
]

[features]
audio = ["notan_app/audio", "notan_audio", "notan_oddio"]
drop_files = ["web-sys/DragEvent", "web-sys/DataTransfer", "web-sys/FileList", "web-sys/File", "web-sys/DataTransferItemList", "web-sys/DataTransferItem"]
clipboard = []
