[package]
name = "notan_egui"
version = "0.1.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2018"
readme = "README.md"
homepage = "https://github.com/Nazariglez/notan"
repository = "https://github.com/Nazariglez/notan"
license = "MIT OR Apache-2.0"
description = "Provides EGUI support for Notan"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
notan_app = { path = "../notan_app", version = "0.1.0" }
notan_macro = { path = "../notan_macro", version = "0.1.0" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
egui = "0.15"

[target.'cfg(target_arch = "wasm32")'.dependencies]
egui = { version = "0.15", default-features = false, features = ["single_threaded"] }