[package]
name = "notan_egui"
version = "0.7.1"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2021"
readme = "README.md"
homepage = "https://github.com/Nazariglez/notan"
repository = "https://github.com/Nazariglez/notan"
license = "MIT OR Apache-2.0"
description = "Provides EGUI support for Notan"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.17"
egui = { version = "0.19.0", features = ["bytemuck"] }
bytemuck = "1.12.1"
notan_core = { path = "../notan_core", version = "0.7.1" }
notan_app = { path = "../notan_app", version = "0.7.1" }
notan_macro = { path = "../notan_macro", version = "0.7.1" }

[features]
links = []
drop_files = []
