[package]
name = "notan_log"
version = "0.1.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
simple_logger = "1.11"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_log = "0.2"