[package]
name = "notan_glow"
version = "0.1.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
bytemuck = "1.5"
glow = "0.11"
notan_graphics = { path= "../notan_graphics" }
hashbrown = "0.9.1"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2.78"
js-sys = "0.3"
web-sys = { version = "0.3", features = ["Window", "WebGlContextAttributes","HtmlCanvasElement","HtmlImageElement"] }
