[package]
name = "notan_glow"
version = "0.6.0"
authors = ["Nazarí González <nazari.nz@gmail.com>"]
edition = "2021"
readme = "README.md"
homepage = "https://github.com/Nazariglez/notan"
repository = "https://github.com/Nazariglez/notan"
license = "MIT OR Apache-2.0"
description = "Provides support for OpenGL, OpenGL ES and WebGL for Notan"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.17"
bytemuck = "1.10.0"
glow = "0.11.2"
notan_graphics = { path= "../notan_graphics", version = "0.6.0" }
hashbrown = "0.12.2"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2.82"
js-sys = "0.3.58"
web-sys = { version = "0.3.58", features = ["Window", "WebGlContextAttributes","HtmlCanvasElement","HtmlImageElement"] }
