name: Close inactive issues
on:
  schedule:
    - cron: "30 11 * * *"

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v5
        with:
          days-before-issue-stale: 365
          days-before-issue-close: 30
          stale-issue-label: "stale"
          stale-issue-message: "This issue is stale because it has been open for 1 year with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 30 days since being marked as stale. Do not hesitate to open a new issue if you need it."
          days-before-pr-stale: -1
          days-before-pr-close: -1
          repo-token: ${{ secrets.GITHUB_TOKEN }}
